@using MelegPerfumes.Common
@using MelegPerfumes.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (this.SignInManager.IsSignedIn(this.User))
    {
        <li class="nav-item">
            <form class="form-inline" asp-controller="Authentication" asp-action="Logout" asp-route-returnUrl="@(this.Url.Action("Index", "Home", new { area = string.Empty }))" method="post">
                <button type="submit" class="nav-link btn btn-link text-dark"><i class="fas fa-sign-out-alt"></i></button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Authentication" asp-action="Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Authentication" asp-action="Login">Login</a>
        </li>
    }
    <li class="nav-item">
        <a asp-area="" asp-controller="Orders" asp-action="Cart" class="cart-badge" data-count="4">
            <img src="https://res.cloudinary.com/pictures-storage/image/upload/v1588236603/product_images/rocigfl0qtntlqqr35k4.webp" id="cart" class="nav-link black-cart" alt="cart">
        </a>
    </li>
</ul>
