@media screen and (min-width: 1024px) {
    .main .container .row .inner-row .products-list .items-col:nth-child(3n+1) {
        clear: both;
    }
}

.main .container .row .inner-row .products-list .items-col {
    width: 33.33333%;
    position: relative;
    float: left; /*za da sa po 3 na red*/
}

@media screen and (max-width: 1000px) {
    .main .container .row .inner-row .products-list .items-col {
        width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .main .container .row .inner-row .products-list .items-col {
        width: 100%;
    }

    .main .container .row .inner-row {
        width: 90%;
    }
}

@media screen and (max-width: 1000px) {
    /*    .items-col:nth-child(2n+1) {
        clear: both;
    }*/

    .items-col:nth-child(3n+1) {
        clear: none;
    }
}

.wrapper-item {
    position: relative;
    margin: 0 auto;
    padding: 0 15px;
}

.product-image-link {
    display: block;
    transition: all ease-in-out 0.2s;
    text-decoration: none;
    touch-action: manipulation;
    overflow: hidden;
}

.product-image.front {
    width: 100%;
    height: 100%;
    transition: transform 0.6s ease;
}

img {
    max-width: 100%;
    border: 0;
}

.product-image.back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 0.6s ease;
}

.wrapper-item-inner:hover.image-overlay,
.wrapper-item-inner:hover.product-image-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(39, 39, 39);
    opacity: 0;
    z-index: 2;
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

/* dobavih*/
.wrapper-item-inner:hover .back,
.wrapper-item-inner:focus .back {
    transform: translateX(0);
    transform: translateY(0);
    z-index: 2;
}

/*dobavih*/
.wrapper-item-inner:hover .front,
.wrapper-item-inner:focus .front {
    transform: translateX(100%);
    transform: translateY(-100%);
}

.wrapper-item-inner:hover .image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(39, 39, 39, 0.6);
    z-index: 2;
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.actions .link-actions {
    position: absolute;
    top: 30%;
    width: 100%;
    transform: translateY(-50%);
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    text-align: center;
    visibility: hidden;
    opacity: 0;
    z-index: 3;
}

.actions .link-actions:hover,
.btn-cart:hover {
    visibility: visible;
}

.btn-cart,
.btn-edit,
.button-delete {
    display: inline-block;
    position: absolute;
    top: 65%;
    left: 50%;
    font-size: 0.833em;
    margin-top: 80px;
    padding: 0 20px;
    line-height: 34px;
    z-index: 2;
    transform: translate(-50%, -50%);
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
    text-align: center;
    font-weight: normal;
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0);
    border: 1px solid rgb(255, 255, 255);
    text-transform: uppercase;
    border-radius: 0;
    box-shadow: none;
    touch-action: manipulation;
}

.btn-edit {
    padding: 0 15px !important;
}

.button-delete {
    padding: 0 5px !important;
}

.product-info {
    position: relative;
    text-align: center;
    padding-bottom: 15px;
}

.product-name {
    color: rgb(145, 121, 43);
    letter-spacing: 2px;
    font-weight: 300;
    text-transform: uppercase;
    line-height: normal;
    margin: 0;
    padding: 0.6rem 0;
    max-height: 61px;
    overflow: hidden;
    border-bottom: 1px solid rgb(235, 235, 235);
}

.product-name a {
    display: block;
    text-transform: inherit;
    transition: all ease-in-out 0.2s;
    color: rgb(63, 63, 63);
    text-decoration: none;
    touch-action: manipulation;
    background: 0 0;
}

.price-box {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.833em;
    margin: 15px 0;
    line-height: 0;
}

.price {
    font-size: 1.2em;
    line-height: normal;
    color: rgb(145, 121, 43);
}

.old-price {
    position: relative;
    font-size: 14px;
    color: #aaa;
    padding-right: 0.5rem;
}

.old-price:after {
    position: absolute;
    content: '';
    top: 8px;
    left: 4px;
    width: 28px;
    height: 2px;
    background: #aaa;
    z-index: 20;
    transform: rotate(-50deg);
}

.product-info::before {
    display: table;
    content: '';
}

.product-info::after {
    display: table;
    content: '';
    clear: both;
}

.wrapper-item:hover .btn-cart,
.wrapper-item:hover .btn-edit,
.wrapper-item:hover .button-delete {
    visibility: visible;
    opacity: 1;
    top: 50%;
}

.wrapper-item:hover .btn-edit {
    top: 30% !important;
}

.wrapper-item:hover .button-delete {
    top: 10% !important;
}

.wrapper-item .btn-cart:hover,
.wrapper-item .btn-edit:hover {
    background: rgb(145, 121, 43);
    color: rgb(255, 255, 255);
    border-color: rgb(145, 121, 43);
}

.wrapper-item .button-delete:hover {
    background: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    border-color: rgb(255, 0, 0);
}

.wrapper-item-inner,
.product-image-container,
.product-image-link {
    position: relative;
}

/*wishlist button && icon*/
.stickers {
    position: absolute;
    top: 0.5rem;
    width: 42px;
    height: 42px;
    z-index: 20;
    border: 1px solid rgb(145, 121, 43);
    transition: all 0.2s linear;
}

.wishlist-btn {
    left: 0.5rem;
    float: left;
    background: rgb(255, 255, 255);
    border-radius: 100%;
}

.wishlist-icon {
    float: left;
    width: 100%;
    height: 100%;
    background: url('https://res.cloudinary.com/pictures-storage/image/upload/v1611514335/product_images/dimcx7bh8tx3xudfwqbn.png') no-repeat center center;
    transition: all 0.2s linear;
}

.wishlist-btn:hover {
    border: none;
    box-shadow: 0px 50px 0px 0px rgb(218, 46, 42) inset;
}

    .wishlist-btn:hover
    .wishlist-icon {
        background: url('https://res.cloudinary.com/pictures-storage/image/upload/v1611514415/product_images/yqcr88nfoqcohy1unosk.png') no-repeat center center;
        -webkit-animation: beating ease-out 1.5s infinite alternate;
    }

@keyframes beating {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(0.8);
    }

    50% {
        transform: scale(1);
    }

    75% {
        transform: scale(0.8);
    }
}

.sticker-new-top,
.sticker-discount {
    right: 0.5rem;
    background: rgb(65, 176, 149);
    border-radius: 50%;
}

.sticker-new {
    top: 4rem;
    right: 0.5rem;
    background: rgb(65, 176, 149);
    border-radius: 50%;
}

.sticker-discount {
    background: rgb(223, 42, 33);
}

    .sticker-discount .sticker-text {
        font-weight: 600;
    }

.sticker-text {
    display: inline-block;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    line-height: 40px;
    text-align: center;
    color: rgb(255, 255, 255);
}

.sticker-new:hover,
.sticker-new-top:hover {
    border: none;
    box-shadow: 0px 50px 0px 0px rgb(57, 185, 80) inset;
}

.sticker-discount:hover {
    border: 0;
    box-shadow: 0px 50px 0px 0px rgb(207, 57, 91) inset;
}

.sticker-new:hover .sticker-text,
.sticker-new-top:hover .sticker-text,
.sticker-discount:hover .sticker-text {
    -webkit-animation: beating ease-out 1.5s infinite alternate;
}
/*---------------------------------*/

/*rating*/
.star-rating {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.3rem 0;
}

.back-stars {
    display: flex;
    font-size: 14px;
    position: relative;
}

.front-stars {
    display: flex;
    position: absolute;
    color: rgb(255, 188, 11);
    overflow: hidden;
    transition: all .5s;
}
/*------------------*/