ul > li {
    list-style: none;
}

.main {
    margin-top: 60px;
    padding-bottom: 40px;
    background: rgb(255, 255, 255);
}

.main .container {
    display: block;
    max-width: 1380px;
    margin: 0 auto;
    padding: 0 15px;
}

.main .container .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.main .container .row .inner-row {
    left: 25%;
    width: 75%;
    margin: 1rem auto;
}

.main .container .row .inner-row .products-list {
    margin: 0 -15px 15px -15px;
    padding: 0;
}

@media screen and (max-width: 600px) {
    .inner-row {
        width: 90%;
    }
}

.pagination-container {
    margin-bottom: 3rem;
}

/*search && sorting*/
.search-sort-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}

.found-products-count-container {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.found-products-count-container,
.search-container,
.sorting-drop-down-container {
    margin: 0.5rem 0;
}

.sorting-drop-down-container {
    display: flex;
    align-items: center;
}
/*------*/