<a id="back-to-top-arrow" class="back-to-top scroll-link">
    <img src="https://res.cloudinary.com/pictures-storage/image/upload/v1605771626/product_images/cn9vrsjdp68bawmhmndl.svg" alt="chevron-up">
</a> 