@{
    this.ViewData["Title"] = "Home Page";
}

<section class="home-container">
    <section class="home-container-holder">
        <section class="items-container">
            <article class="picture-container">
                <picture>
                    <img src="https://res.cloudinary.com/pictures-storage/image/upload/v1587154784/product_images/lecqvkmhh9hatre3kvhm.png" alt="fragrance">
                </picture>
            </article>
            <article class="picture-info-container">
                <section class="picture-info-inner-container">
                    <h3 class="title">tiziana terenzi</h3>
                    <p>Our passion for what we do is the engine that transforms ideas into art.</p>
                </section>
                <a class="button">discover</a>
            </article>
        </section>
    </section>
</section>
<section class="about-us-container">
    <section class="about-us-inner-container">
        <section class="about-us-row">
            <article class="about-us-text">
                <header>
                    <h3>behind the brand</h3>
                </header>
                <main>
                    <p>Paolo Terenzi is the nose behind the brand. He spends countless days perfecting the formulas and we are proud to say that he has created many iconic fragrances that will leave a mark and create many great memories.</p>
                </main>
                <footer>
                    <a class="button">Discover</a>
                </footer>
            </article>
            <article class="about-us-picture">
                <picture>
                    <img src="https://res.cloudinary.com/pictures-storage/image/upload/v1588236256/product_images/cczdewhjxpjw28bxcvvf.jpg" alt="about-us-image">
                </picture>
            </article>
        </section>
    </section>
</section>

<partial name="_TestimonialsPartial" />
<partial name="_SubscribeNewsletterPartial" />

@section CustomCss {
    <link href="~/css/home.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/subscribeNewsletter.css" rel="stylesheet" asp-append-version="true" />
}