@inject IViewLocalizer Localizer
@model SubscribeInputModel

<section class="subscribe-container animate__animated" data-aos="fade-up">
    <section class="container">
        <section class="row align-items-lg-end">
            <section class="col-12 offset-lg-1 col-lg-5 order-lg-2">
                <form class="subscribe-form" method="post">
                    <h6 class="title">@Localizer["newsletter"]</h6>
                    <section class="input-holder">
                        <input asp-for="Email" class="form-control subcribe-input" placeholder="email" type="email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </section>
                    <section class="form-btn">
                        <button asp-controller="Subscribe" asp-action="Index" class="button subscribe-btn" type="submit">@Localizer["subscribe"]</button>
                    </section>
                </form>
            </section>
            <section class="col-12 offset-lg-1 col-lg-4 order-lg-1">
                <section class="subsribe-picture-container">
                    <picture>
                        <img class="half-picture" src="https://res.cloudinary.com/pictures-storage/image/upload/v1588237545/product_images/zmdywdjiiuelxo7msu3u.png" alt="half-fragrance">
                    </picture>
                </section>
            </section>
        </section>
    </section>
</section>

<link href="~/css/subscribeNewsletter.css" rel="stylesheet" asp-append-version="true" />
