.title {
    font-size: 2.5rem;
    font-weight: bold;
}

.social-container {
    margin: 20px 0;
}

.social-container .social {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 50%;
    margin: 0 20px;
    height: 60px;
    width: 60px;
}

.social-container .social i {
    font-size: 25px;
}

.form-horizontal {
    display: inline-block;
}

.form-horizontal button {
    color: #007bff;
}