.layout-navbar {
    width: 100%;
    top: 0; left: 0;
    position: fixed;
    z-index: 9999;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.layout-navbar.white {
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.176);
    background-color: rgba(255, 255, 255, 0.9) !important;
}